In [ ]:
Introdection to Numbers :

In [2]:
number = 2

In [3]:
print(number)

2

In [4]:
type(number)

int

In [5]:
n = 0.5

In [6]:
type(n)

float

In [ ]:
Introduction to list data type :

In [7]:
students = ['kumar','naveed','amala','areeba','keerthi','juveriya']

In [8]:
print(students)

['kumar', 'naveed', 'amala', 'areeba', 'keerthi', 'juveriya']

In [ ]:
understanding the concept of indexing

In [ ]:
0,1,2,3...

In [ ]:
students = ['kumar','naveed','amala','areeba','keerthi','juveriya']

In [ ]:
# req : i want to access naveed name in the output

In [11]:
print(students[1])

naveed

In [12]:
print(students[1].title())

Naveed

In [ ]:
# req :i want to add ramesh to the above list

In [14]:
students.append('ramesh')

In [15]:
print(students)

['kumar', 'naveed', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'ramesh']

In [ ]:
# req : i want to add triveni to the above list:

In [16]:
students.append('triveni')

In [17]:
print(students)

['kumar', 'naveed', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'ramesh', 'triveni']

In [ ]:
# req : i want to add mohit nameto the 2nd index

In [20]:
students.insert(2,'mohit')

In [21]:
print(students)

['kumar', 'naveed', 'mohit', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'ramesh', 'triveni']

In [22]:
print(students[2])

mohit

In [ ]:
# req : i want to modify naveed name to hamza

In [23]:
students[1] = 'hamza'

In [24]:
print(students)

['kumar', 'hamza', 'mohit', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'ramesh', 'triveni']

In [ ]:
# req : i want to delete the kumar name from the above list:

In [25]:
del students[0]

In [26]:
print(students)

['hamza', 'mohit', 'mohit', 'amala', 'areeba', 'keerthi', 'juveriya', 'ramesh', 'ramesh', 'triveni']